.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  background-color: rgb(250, 248, 241);
  .container {
    width: 1400px;
    position: relative;
  }

  .carousel-initialized {
    position: static;
  }

  .carousel-prev,
  .carousel-next {
    width: 50px;
    height: 50px;
    background-color: rgb(250, 248, 241);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .carousel-prev {
    left: -25px;
  }
}
